def $MUNIN_IPS = (<%=
begin
	scope.lookupvar('site::nodeinfo')['misc']['v4addrs'].join(' ')
rescue
	''
end
%>);
def $MUNIN6_IPS = (<%=
begin
	scope.lookupvar('site::nodeinfo')['misc']['v6addrs'].join(' ')
rescue
	''
end
%>);

domain ip {
        chain INPUT {
               daddr ($MUNIN_IPS) NOP;
        }
}

domain ip {
        chain OUTPUT {
               saddr ($MUNIN_IPS) NOP;
        }
}

domain ip6 {
        chain INPUT {
               daddr ($MUNIN6_IPS) NOP;
        }
}

domain ip6 {
        chain OUTPUT {
               saddr ($MUNIN6_IPS) NOP;
        }
}
