##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<Macro vhost-inner-anonscm.debian.org>
	ServerName anonscm.debian.org
	ServerAlias git.debian.org
	ServerAdmin debian-admin@lists.debian.org

	ErrorLog /var/log/apache2/anonscm.debian.org-error.log
	CustomLog /var/log/apache2/anonscm.debian.org-access.log privacy

	DocumentRoot /srv/anonscm.debian.org/htdocs
	<Directory /srv/anonscm.debian.org/htdocs>
		Require all granted
		AllowOverride None
	</Directory>

	RewriteEngine on
	Use anonscm.debian.org-anonscm-map
</Macro>

<VirtualHost *:443>
	Use vhost-inner-anonscm.debian.org

	Use common-debian-service-ssl anonscm.debian.org
	Use common-ssl-HSTS
	Use http-pkp-anonscm.debian.org
</VirtualHost>

<VirtualHost *:80>
	Use vhost-inner-anonscm.debian.org
</VirtualHost>

# vim:set syn=apache:
# vim:set syn=apache:
